.container
  .hero-unit.white
    %ul
      - session.each do |var|
        %li
          = var.inspect
      %li
        Provider info:
        = current_provider.to_json
      %li
        Provider Signed in:
        = provider_signed_in?